/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', arial, sans-serif;
    }
    body{
        font-family: 'Roboto', arial, sans-serif;
        min-height: 100vh;
        margin: 0 auto;
    }
    /* mobile */
    .top{
        display: none;
    }
    header{
        display: none;
    }
    /* gĂłrny banner */
    .topp{
        display: flex;
        width: 100%;
        height: 10vh;
        min-height: 50px;
        align-items: center;
        border-bottom: 1px solid lightgrey;
    }
    /* logo jcmb*/
    .topp img:nth-last-of-type(2){
        width: 12%;
        margin-left: 10%;
    }
    /* pierwsze P */
    .topp p:nth-child(2){
        flex-grow: 1;
        margin-left: 2%;
        font-size: 0.8rem;
        color: lightslategray;
    }
    /* Drugie P (telefon) */
    .topp p:nth-child(3){
        margin-right: 1%;
        font-size: 1.5rem;
        color: #ce000c;
        font-weight: lighter;
    }
    /* +48 */
    .topp span{
        padding-right: 4px;
        font-size: 0.9rem;
        color: lightslategray;
    }
    /* Drugie img (telefon) */
    .topp img:nth-of-type(2){
    margin-right: 10%;
    width: 2%;
    }
    
    /* ----------nav---------- */
    
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8vh;
        min-height: 41px;
    }
    /* left margin */
    nav a:first-child{
        margin-left: 10%;
    }
    /* right margin */
    nav a:last-child{
        margin-right: 15%;
    }
    nav a{
        flex-grow: 1;
        display: block;
        text-align: center;
        line-height: 8vh;
        text-decoration: none;
        color: #182748;
    }
    nav a:hover{
        border-top: 1px solid red;
    }
    
    /* --------header------- */
    .header{
        display: flex;
        position: relative;
        height: 520px;
        min-height: 363px;
        overflow: hidden;
    }
    /* background  */
    .header img{
        top: 0%;
        width: 100%;
        height: 100%;
        background-position: center;
        position: absolute;
    }
    /* Main text */
    h1{
        position: relative;
        top: 25%;
        left: 0;
        color: white;
        font-size: 2rem;
        margin-left: 10%;
        
    }
    /* Red button */
    .header h1 a{
        display: block;
        width: 200px;
        margin-top: 30px;
        font-size: 1rem;
        background-color:#ce000c;
        height: 45px;
        text-align: center;
        line-height: 45px;
        text-decoration: none;
        color: white;
    }
    /* arrow text */
    .header a span{
       padding-bottom: 5px;
    }
    /* Scroll icon */
    .header img:nth-child(3){
        position: absolute;
        top: 80%;
        height: 40px;
        width: 30px;
        margin-left: 10%;
    }
    /* slider */
    .sliderr{
        display:block;
        position: absolute;
        width: 35%;
        height: 65%;
        right: 0;
        margin-right: 15%;
        top: 15%;
    }
    .sliderr > img{
        min-width: 400px;
        border-radius: 1%;
        -webkit-box-shadow: -2px 1px 45px 26px rgba(0,0,0,0.79);
-moz-box-shadow: -2px 1px 45px 26px rgba(0,0,0,0.79);
box-shadow: -2px 1px 45px 26px rgba(0,0,0,0.79);
    }
  
    .sliderr img:nth-last-of-type(1) {
        animation: 6s slider linear infinite;
      
       }
    
    @keyframes slider{
        0% {
            opacity: 0;
           }
           40% {
            opacity: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
           }
           50% {
            opacity: 1;
           }
           90% {
            opacity: 1;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
           }
           100% {
            opacity: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
           }
           
    }
   
   
      /* Partners */
      h5{
        font-size: 2.5rem;
        text-align: left;
        margin-bottom: 5%;
        margin-left: 10%;
        position: absolute;
        color: #182748;
        }
        h5:before{
            content : "";
            position: absolute;
            left    : 0;
            bottom  : -5px;
            height  : 1px;
            width   : 50%;  /* or 100px */
            border-bottom:2px solid #D63842;
          }
      .partners{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 15%;
        margin-right: 15%;
        }
        .partners img{
        margin-bottom: 0%;
        margin-top: 130px;
        width: 20%;
        }
        
        /* contact */
h6{
font-size: 1.5rem;
font-weight: 600;
text-align: left;
margin-left: 21%;
margin-top: 20px;
padding-bottom: 15px;
color: #182748;
position: absolute;
}
h6:before{
    content : "";
    position: absolute;
    left    : 0;
    bottom  : -5px;
    height  : 1px;
    width   : 40%;  /* or 100px */
    border-bottom:2px solid #D63842;
  }
.wrap_adress{
    display: flex;
    margin-top: 50px;
    height: 332px;
    width: 100%;
    position: relative;
    background-color: #F2F2F2;

}
.wrap_adress > img{
    display: block;
    position: absolute;
    height: 332px;
}
.adress{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 1rem; 
margin-left: 20%;
margin-top: 5%;
color: rgb(34, 34, 34);
}
.adress p{
flex-shrink: 1;
width: 300px;
margin-bottom: 15px;
}
.adress p img{
flex-shrink: 1;
float: left;
margin-right: 10px;
width: 10%;
margin-top: 0px;
}
/* Godziny otwarcia */
.opentext{ 
margin-top: 100px;
min-width: 172px;
font-size: 1rem;
color: rgb(85, 85, 85);
font-weight: 400;
padding-bottom: 5px;
text-align: center;
text-transform: uppercase;
height: 30px;
margin-left: -70px;
}
/* OPEN */
.open{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 50px;
margin-left: -168px;
margin-right: 50px;
}
.open p{  
color: rgb(85, 85, 85);
text-align: left;
padding-bottom: 10px;
width: 155px;

}
.map_big{
width: 100%;
height: 320px;
border: 0;
}
footer{
margin-top: 15px;
width: 100%;
font-size: 0.8rem;
text-align: center;
padding-bottom: 10px;
color: gray;
}

}
  
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
       
    }
    body{
        font-family: 'Roboto', arial, sans-serif;
        min-height: 100vh;
        margin: 0 auto;
        max-width: 1600px;
    }
    /* mobile */
    .top{
        display: none;
    }
    header{
        display: none;
    }
    /* gĂłrny banner */
    .topp{
        display: flex;
        width: 100%;
        height: 10vh;
        min-height: 50px;
        align-items: center;
        border-bottom: 1px solid lightgrey;
    
    }
    /* logo jcmb*/
    .topp img:nth-last-of-type(2){
        width: 12%;
        margin-left: 10%;
    }
    /* pierwsze P */
    .topp p:nth-child(2){
        flex-grow: 1;
        margin-left: 2%;
        font-size: 0.8rem;
        color: lightslategray;
    }
    /* Drugie P (telefon) */
    .topp p:nth-child(3){
        margin-right: 1%;
        font-size: 1.5rem;
        color: #ce000c;
        font-weight: lighter;
    }
    /* +48 */
    .topp span{
        padding-right: 4px;
        font-size: 0.9rem;
        color: lightslategray;
    }
    /* Drugie img (telefon) */
    .topp img:nth-of-type(2){
    margin-right: 10%;
    width: 2%;
    }
    
    /* ----------nav---------- */
    
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8vh;
        min-height: 41px;
    }
    /* left margin */
    nav a:first-child{
        margin-left: 10%;
    }
    /* right margin */
    nav a:last-child{
        margin-right: 15%;
    }
    nav a{
        flex-grow: 1;
        display: block;
        text-align: center;
        line-height: 8vh;
        text-decoration: none;
        color: #182748;
    }
    nav a:hover{
        border-top: 1px solid red;
    }
    /* --------header------- */
    .header{
        display: flex;
        position: relative;
        height: 526px;
        min-height: 363px;
        overflow: hidden;
        margin-bottom: 80px;
    }
    /* background  */
    .header img{
        top: 0%;
        width: 100%;
        height: 100%;
        background-position: center;
        position: absolute;
    }
    /* Main text */
    h1{
        position: absolute;
        top: 25%;
        left: 0;
        color: white;
        font-size: 2rem;
        margin-left: 10%;
    }
    /* Red button */
        .header h1 a{
        display: block;
        width: 200px;
        margin-top: 30px;
        font-size: 1rem;
        background-color:#ce000c;
        height: 45px;
        text-align: center;
        line-height: 45px;
        text-decoration: none;
        color: white;
    }
    /* arrow text */
    .header a span{
       padding-bottom: 5px;
    }
    /* Scroll icon */
    .header img:nth-child(3){
        position: absolute;
        top: 80%;
        height: 40px;
        width: 30px;
        margin-left: 10%;
    }
    /* slider */
    .sliderr{
        display:block;
        position: absolute;
        width: 35%;
        height: 65%;
        right: 0;
        margin-right: 15%;
        top: 15%;
    }
    .sliderr img{
        min-width: 400px;
        max-width: 540px;
        border-radius: 1%;
        -webkit-box-shadow: -2px 1px 45px 26px rgba(0,0,0,0.79);
-moz-box-shadow: -2px 1px 45px 26px rgba(0,0,0,0.79);
box-shadow: -2px 1px 45px 26px rgba(0,0,0,0.79);
    }
    
    .sliderr img:nth-last-of-type(1) {
        animation: 6s slider linear infinite;
       }
    
    @keyframes slider{
        0% {
            opacity: 0;
           }
           40% {
            opacity: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
           }
           50% {
            opacity: 1;
           }
           90% {
            opacity: 1;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
           }
           100% {
            opacity: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
           }
    }

      /* Partners */
      h5{
        font-size: 2.5rem;
        text-align: left;
        margin-bottom: 5%;
        margin-left: 10%;
        margin-top: -60px;
        position: absolute;
        color: #182748;
        }
        h5:before{
            content : "";
            position: absolute;
            left    : 0;
            bottom  : -5px;
            height  : 1px;
            width   : 50%;  /* or 100px */
            border-bottom:2px solid #D63842;
          }
      .partners{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 15%;
        margin-right: 15%;
        }
        .partners img{
        margin-bottom: 0%;
        margin-top: 50px;
        width: 15%;
        }
        
        /* contact */
h6{
font-size: 1.5rem;
font-weight: 600;
text-align: left;
margin-left: 21%;
margin-top: 20px;
padding-bottom: 15px;
color: #182748;
position: absolute;
}
h6:before{
    content : "";
    position: absolute;
    left    : 0;
    bottom  : -5px;
    height  : 1px;
    width   : 40%;  /* or 100px */
    border-bottom:2px solid #D63842;
  }
.wrap_adress{
    display: flex;
    margin-top: 50px;
    height: 332px;
    width: 100%;
    position: relative;
    background-color: #F2F2F2;

}
.wrap_adress > img{
    display: block;
    position: absolute;
    height: 332px;
}
.adress{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 1rem; 
margin-left: 20%;
margin-top: 5%;
color: rgb(34, 34, 34);
}
.adress p{
flex-shrink: 1;
width: 300px;
margin-bottom: 15px;
}
.adress p img{
flex-shrink: 1;
float: left;
margin-right: 10px;
width: 10%;
margin-top: 0px;
}
/* Godziny otwarcia */
.opentext{ 
margin-top: 100px;
min-width: 172px;
font-size: 1rem;
color: rgb(85, 85, 85);
font-weight: 400;
padding-bottom: 5px;
text-align: center;
text-transform: uppercase;
height: 30px;
margin-left: -70px;
}
/* OPEN */
.open{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 50px;
margin-left: -168px;
margin-right: 50px;
}
.open p{  
color: rgb(85, 85, 85);
text-align: left;
padding-bottom: 10px;
width: 155px;

}
.map_big{
width: 100%;
height: 320px;
border: 0;
}
footer{
margin-top: 15px;
width: 100%;
font-size: 0.8rem;
text-align: center;
padding-bottom: 10px;
color: gray;
}

    
  }